[Unit]
Description=InwinSTACK post boot service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /opt/InwinSTACK/inwin-post-boot.py

[Install]
WantedBy=multi-user.target

